<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false" *ngIf="auth.isLoggedIn()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">MOAS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  *ngIf="auth.isLoggedIn()">
      <ul class="nav navbar-nav">
        <li [ngClass]="{active: isActive('/search')}"><a [routerLink]="['/search']" (click)="searchClicked()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a></li>
        <li [ngClass]="{active: isActive('/connect')}"><a [routerLink]="['/connect']"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Connect</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>