<div class="row">
  <div class="col-md-8 col-lg-offset-2">
    <div class="jumbotron login">
      <h2>All in one place</h2>

      <p>
        Search your emails, files and messages from many services*
      </p>

      <ul>
        <li>Gmail</li>
        <li>Goole Drive</li>
        <li>Slack</li>
        <li>Github</li>
        <li>Jira</li>
      </ul>

      <button class="btn btn-lg btn-primary" (click)="loginWithGoogle()">SIGN IN</button>

      <hr>

      <small class="text-muted">*We will need your <strong>read-only</strong> permissions for each service.</small>
    </div>
  </div>
</div>