<div *ngFor="let set of rows; let i = index" class="row connect">
    <div *ngFor="let service of set" class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="{{ service.getLogoUrl() }}" alt=""> <span
                    class="connect__service-title">{{ service.name }}</span>
                <p class="text-muted connect__service--info">{{ service.info }}</p>
                <hr>

                <div *ngIf="service.accounts" class="list-group">
                    <div *ngFor="let account of service.accounts" href="#" class="list-group-item">
                        <div>
                            <h5 class="list-group-item-heading">{{ account.email }}</h5>
                            <p>
                                Account ID:
                                <small><b>{{ account.id}}</b></small>

                                <span class="label pull-right" [ngClass]="{
            'label-success': account.isOk(),
            'label-danger': account.isExpired()}">{{ account.status }}</span>
                            </p>
                            <p *ngIf="account.service.name=='GitHub' && !github.open">
                                <a (click)="openGithub(account)"
                                   tooltip="With personal access you can search all repos that you have access to. Without it, you can only search your own."
                                   placement="top">Set personal token</a>
                            </p>
                            <div class="panel panel-default" *ngIf="account.service.name=='GitHub' && github.open">
                                <div class="panel-body">
                                    <form (ngSubmit)="submitPersonal(account.id)" autocomplete="off">
                                        <p class="text-muted">
                                            Create a <a href="https://github.com/settings/tokens/new" target="_blank">personal
                                            token</a> with <strong>repo</strong> top level scope.
                                        </p>
                                        <div class="form-group">
                                            <input class="form-control input-sm" [(ngModel)]="github.token" type="text"
                                                   placeholder="Paste personal token" required minlength="40"
                                                   maxlength="40" id="githubTokenInput" name="token">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                                            <button type="reset" class="btn btn-sm btn-link" (click)="closeGithub()">
                                                Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <p *ngIf="!account.isExpired()">
                                <a class="btn btn-xs btn-danger" mwlConfirmationPopover [title]="'Please confirm'"
                                   [message]="'Are you really sure you want delete this account?'"
                                   placement="top" [confirmText]="'Yes'" (confirm)="deleteAccount(account,service)"
                                   [cancelText]="'No'" (cancel)="null" [focusButton]="'cancel'">
                                    Delete
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div *ngIf="service.accounts.length == 0">
                    <p>No accounts for this service.</p>
                </div>

                <a (click)="handle(service)" class="btn btn-default btn-lg pull-right">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

</div>

<div bsModal #childModal="bs-modal" class="modal fade connect__modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form (ngSubmit)="addJira()" #jiraForm="ngForm">
                    <div class="form-group text-center">
                        <img src="/assets/images/jira_logo.png" alt="">
                    </div>
                    <div class="form-group" *ngIf="!jira.custom">
                        <label for="urlField" class="control-label">Organization URL <a (click)="toggleJiraUrl()">use custom url</a></label>
                        <div class="input-group">
                            <span class="input-group-addon">https://</span>
                            <input type="text" [(ngModel)]="jira.url" class="form-control" id="urlField" name="url">
                            <span class="input-group-addon">.atlassian.net</span>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="jira.custom" >
                        <label for="urlField" class="control-label">Organization URL <a (click)="toggleJiraUrl()">use default url</a></label>
                        <input pattern="https?://.+" required [(ngModel)]="jira.url" class="form-control" id="urlField" name="url">
                    </div>
                    <div class="form-group">
                        <label for="usernameField" class="control-label">Username</label>
                        <input type="text" [(ngModel)]="jira.username" class="form-control" id="usernameField"
                               name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordField" class="control-label">Password</label>
                        <input type="password" [(ngModel)]="jira.password" class="form-control" id="passwordField"
                               name="password" required>
                    </div>
                    <div class="form-group" *ngIf="jira.error">
                        <alert type="danger" dismissible="true">
                            {{ jira.error }}
                        </alert>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-link">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>