<div class="row">
    <div class="col-sm-10 col-sm-offset-1   ">
        <alert type="warning" *ngFor="let error of errors" dismissible="true">
            {{ error.account_type }} account <strong>{{ error.account_id }}</strong> has an error.
        </alert>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        <form (ngSubmit)="search()" #searchForm="ngForm" autocomplete="off" class="search-form">
            <div class="form-group">
                <!--<label class="control-label" for="inputLarge">Large input</label>-->
                <input [focus]="focusTriggeringEventEmmiter"
                       (keyup)="onKey($event)"
                       [(ngModel)]="query"
                       name="query"
                       placeholder="Search..."
                       class="form-control input-lg" type="text" id="inputLarge">
            </div>
        </form>
    </div>
    <div class="col-sm-2" *ngIf="results.length || noResults">
        <div class="search-button">
            <button type="button" class="btn btn-link" (click)="fullReset()">
                <span class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
            </button>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-sm-offset-4 col-sm-2" *ngIf="loading">
        <sk-wave [color]="'#2196F3'"> </sk-wave>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        <ul [hidden]="results.length == 0" class="nav nav-tabs search__services">
            <li *ngFor="let service of resultsServices"
                class="search__service"
                [ngClass]="{active: selected==service}">
                <a (click)="select(service)"> <img *ngIf="service != 'All'" src="assets/images/{{ service }}_logo.png" alt="" class="service-img">   {{ service }} <sup>{{ countBy(service) }}</sup></a>
            </li>
        </ul>
        <div *ngIf="results.length == 0 && noResults == true">
            <h3>No results</h3>
            <p class="text-danger">Did not find anything.</p>
        </div>
        <search-result *ngFor="let result of filterBy(selected)" [result]="result">
        </search-result>
    </div>
</div>