.integrate {
  img {
    height: 48px;
  }
  &__service-title {
    float: right;
    font-size: 28px;
  }
  &__modal {
    img {
      width: 128px;
      height: 128px;
    }
  }

  &__service--info {
    margin-top: 20px;
  }

  .list-group-item {
    border-color: transparent;
  }
}